*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

@font-face {
    font-family: "outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
    font-family: "young-serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
    --outfit: "outfit";
    --young-serif: "young-serif";

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}
body{
    background-color: var(--Stone-100);
    font-family: var(--outfit);
}

main{
    display: block;
    justify-items: center;
    align-items: center;
}
.container {
    width: 738px;
    background-color: white;
    color: var(--Stone-600);
    padding: 40px;
    margin-top: 124px;
    margin-bottom: 124px;
    border-radius: 25px;
}
.container img {
    width: 100%;
    border-radius: 12px;
    
}

.content {
    margin: 40px 0;
}

h1{
    font-size: 2.2rem;
    color: var(--Stone-900);
    font-family: var(--young-serif);
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 24px;
}

.preparation {
    background-color: var(--Rose-50);
    border-radius: 25px;
    padding: 30px;
    
    h2 {
        color: var(--Rose-800);
        font-size: 1.25rem;
        margin-bottom: 16px;
    }
    ul{
        line-height: 150%;
        margin-left: 24px;
        li{
            padding-left: 14px;
            margin-bottom: 8px;
            strong {
                color: var(--Stone-600);
            }
        }
        li::marker{
            color: var(--Rose-800);
            font-size: small;
        }
    }
}
.ingredients {
    margin: 16px 0;
    .subtitle {
        font-family: var(--young-serif);
        color: var(--Brown-800);
        font-size: 1.8rem;
        font-weight: 400;
        padding: 16px 0;
    }
    ul {
        line-height: 150%;
        margin-left: 24px;
        li{
            padding-left: 14px;
            margin-bottom: 8px;
        }
        li::marker{
            color: var(--Brown-800);
            font-size: small;
        }
        
    }
}

.instructions {
    .subtitle {
        font-family: var(--young-serif);
        color: var(--Brown-800);
        font-size: 1.8rem;
        font-weight: 400;
        padding: 16px 0;
    }
}